<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:android = "http://schemas.android.com/apk/www/res/android" id="com.zibapp.testapp" android-versionCode="133" version="0.1.33">
	<name>Test App</name>
	<description>Test app for ZibApp</description>
	<author href="http://www.zibapp.com" email="support@zibapp.com">Slickalpha</author>
	<content src="index.html" />
	
<!-- preferences -->
	<preference name="phonegap-version" value="cli-8.0.0" />
	<preference name="pgb-builder-version" value="2" />
	<preference name="AppendUserAgent" value="TestApp(133)" />
	<preference name="permissions" value="none"/> 
	<preference name="android-windowSoftInputMode" value="stateHidden|adjustPan" />
	<preference name="orientation" value="portrait"/>
	<preference name="target-device" value="universal"/>
	<preference name="fullscreen" value="false"/>
	<preference name="webviewbounce" value="true" />	
	<preference name="prerendered-icon" value="true"/>
	<preference name="stay-in-webview" value="false"/>
	<preference name="detect-data-types" value="true"/>
	<preference name="exit-on-suspend" value="false"/>
	<preference name="disable-cursor" value="false"/>
	<preference name="android-minSdkVersion" value="16"/>
	<preference name="android-targetSdkVersion" value="19"/>
	<preference name="android-installLocation" value="internalOnly"/>
	<preference name="debuggable" value="false"/>
	<preference name="AndroidLaunchMode" value="singleTop"/>
	<preference name="KeepRunning" value="true"/>
	<preference name="KeyboardDisplayRequiresUserAction" value="false"/>
	<preference name="AndroidPersistentFileLocation" value="Compatibility" /> 
	<preference name="android-build-tool" value="gradle" />
	<preference name="EnableViewportScale" value="true"/>
	<preference name="SuppressesIncrementalRendering" value="true"/>
	<preference name="CordovaWebViewEngine" value="CDVUIWebViewEngine" />
	<preference name="CordovaDefaultWebViewEngine" value="CDVUIWebViewEngine" />
	<preference name="StatusBarStyle" value="lightcontent" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="StatusBarOverlaysWebView" value="false" />
	<preference name="ios-statusbarstyle" value="light-content"/>
	<preference name="StatusBarBackgroundColor" value="#333333" />

<!-- plugins -->
	<plugin name="cordova-plugin-insomnia" version="4.1.0" source="npm" />
	<plugin name="cordova-plugin-battery-status" version="1.2.0" source="npm" />
	<plugin name="cordova-plugin-device" version="1.1.3" source="npm" />
	<plugin name="cordova-plugin-statusbar" version="2.2.1" source="npm" />
	<plugin name="cordova-plugin-file" version="4.3.3" source="npm" />
	<plugin name="ionic-plugin-keyboard" version="2.2.1" source="npm" />
	<plugin name="cordova-plugin-dialogs" version="1.3.2" source="npm" />
	<plugin name="cordova-plugin-splashscreen" version="5.0.2" source="npm" />
	<plugin name="cordova-plugin-network-information" version="1.3.4" source="npm" />
	<plugin name="cordova-plugin-inappbrowser" version="1.5.0" source="npm" />
	<plugin name="cordova-plugin-secure-key-store" version="1.5.0" source="npm" />
	<plugin name="cordova-plugin-whitelist" version="1.3.2"/>
	<plugin name="cordova-plugin-intent" version="0.1.2"/>
	<plugin name="cordova-plugin-x-socialsharing" version="5.2.0" source="npm" />
	<plugin spec="https://github.com/slickalpha/CordovaClipboard.git" source="git" />
	<plugin name="cordova-plugin-badge" version="0.7.2" source="npm" />
	<plugin spec="https://github.com/slickalpha/cordova-plugin-cache.git" source="git" />
	<plugin spec="https://github.com/Murthy582/Cordova-Logcat.git" source="git" /> 
	<plugin name="phonegap-plugin-push" spec="2.1.2" source="npm">
		<param name="SENDER_ID" value="480189284358" />
	</plugin>
	<plugin name="phonegap-plugin-barcodescanner" spec="7.0.2" source="npm">
		<param name="CAMERA_USAGE_DESCRIPTION" value="To scan qrcodes" />
	</plugin>
	<plugin name="cordova-plugin-facebook4" spec="1.7.4" source="npm">
		<param name="APP_ID" value="1968848623376774" />
		<param name="APP_NAME" value="Test App" />
	</plugin>
	
	
<!-- features & resources -->
	<feature name="Insomnia">
		<param name="android-package" value="nl.xservices.plugins.Insomnia" />
	</feature>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/device" />
	<feature name="Device">
		<param name="android-package" value="org.apache.cordova.Device" />
	</feature>
	<feature name="SplashScreen">
		<param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen"/>
	</feature>
	<platform name="android">
		<resource-file src="www/config/google-services.json" target="app/google-services.json" />
	</platform> 
	
<!-- config edits -->
	<edit-config file="AndroidManifest.xml" mode="add" target="/manifest/application/activity">
		<intent-filter>
			<action android:name="android.intent.action.SEND" />
			<category android:name="android.intent.category.DEFAULT" />
			<data android:mimeType="text/plain" />
		</intent-filter>
	</edit-config>
	<edit-config file="./res/values/strings.xml" mode="add" target="/resources">
		<string name="fb_app_id">1968848623376774</string>
		<string name="fb_app_name">Test App</string>
	</edit-config>
	<edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application/activity[@android:name='TestApp']">
		<activity android:launchMode="singleTop" android:windowSoftInputMode="stateHidden|adjustPan" />
	</edit-config>
<!-- splashscreen -->
	<platform name="ios">
		<icon src="www/icon_ios.png"/>
		<icon src="www/res/icon/ios/icon-60@3x.png" platform="ios" width="180" height="180" />
		<icon src="www/res/icon/ios/icon-60.png" platform="ios" width="60" height="60" />
		<icon src="www/res/icon/ios/icon-60@2x.png" platform="ios" width="120" height="120" />
		<icon src="www/res/icon/ios/icon-76.png" platform="ios" width="76" height="76" />
		<icon src="www/res/icon/ios/icon-76@2x.png" platform="ios" width="152" height="152" />
		<icon src="www/res/icon/ios/icon-small.png" platform="ios" width="29" height="29" />
		<icon src="www/res/icon/ios/icon-small@2x.png" platform="ios" width="58" height="58" />
		<icon src="www/res/icon/ios/icon-small@3x.png" platform="ios" width="87" height="87" />
		<icon src="www/res/icon/ios/icon-40.png" platform="ios" width="40" height="40" />
		<icon src="www/res/icon/ios/icon-40@2x.png" platform="ios" width="80" height="80" />
		<icon src="www/res/icon/ios/icon-40@3x.png" platform="ios" width="120" height="120" />
		<splash src="www/splash_ios.png" />
		<splash src="www/res/screen/ios/Default.png" platform="ios" width="320" height="480" />
		<splash src="www/res/screen/ios/Default@2x.png" platform="ios" width="640" height="960" />
		<splash src="www/res/screen/ios/Default-568h@2x.png" platform="ios" width="640" height="1136" />
		<splash src="www/res/screen/ios/Default-667h@2x.png" platform="ios" width="750" height="1334" />
		<splash src="www/res/screen/ios/Default-Portrait-736h@3x.png" platform="ios" width="1242" height="2208" />
		<splash src="www/res/screen/ios/Default-Landscape-736h@3x.png" platform="ios" width="2208" height="1242" />
		<splash src="www/res/screen/ios/Default-Portrait.png" platform="ios" width="768" height="1024" />
		<splash src="www/res/screen/ios/Default-Landscape.png" platform="ios" width="1024" height="768" />
		<splash src="www/res/screen/ios/Default-Portrait@2x.png" platform="ios" width="1536" height="2048" />
		<splash src="www/res/screen/ios/Default-Landscape@2x.png" platform="ios" width="2048" height="1536" />
	</platform>
	<platform name="android">
		<icon src="www/icon_android.png"/>
		<icon src="www/res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:qualifier="ldpi" />
		<icon src="www/res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:qualifier="mdpi" />
		<icon src="www/res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:qualifier="hdpi" />
		<icon src="www/res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:qualifier="xhdpi" />
		<splash src="www/splash_android.png" />
		<splash src="www/res/screen/android/screen-hdpi-portrait.png" density="port-hdpi"/>
		<splash src="www/res/screen/android/screen-ldpi-portrait.png" density="port-ldpi"/>
		<splash src="www/res/screen/android/screen-mdpi-portrait.png" density="port-mdpi"/>
		<splash src="www/res/screen/android/screen-xhdpi-portrait.png" density="port-xhdpi"/>
		<splash src="www/res/screen/android/screen-xxhdpi-portrait.png" density="port-xxhdpi"/>
		<splash src="www/res/screen/android/screen-xxxhdpi-portrait.png" density="port-xxxhdpi"/>
	</platform>
	<preference name="SplashScreen" value="screen"/>
	<preference name="AutoHideSplashScreen" value="false" />
	<preference name="ShowSplashScreenSpinner" value="true"/>
	<preference name="SplashMaintainAspectRatio" value="true" />
	<preference name="SplashScreenSpinnerColor" value="#ccffff" />

<!-- whitelist -->
	<access origin="*"/>
	<allow-intent href="http://*/*"/>
	<allow-intent href="https://*/*"/>
	<allow-intent href="tel:*"/>
	<allow-intent href="sms:*"/>
	<allow-intent href="mailto:*"/>
	<allow-intent href="geo:*"/>
	<platform name="android">
		<allow-intent href="market:*"/>
	</platform>
	<platform name="ios">
		<allow-intent href="itms:*"/>
		<allow-intent href="itms-apps:*"/>
	</platform>
	
<!-- unused configs 
	<platform name="ios">
	  <resource-file src="GoogleService-Info.plist" />
	</platform>
	<plugin name="cordova-plugin-inapppurchase" version="1.0.0" source="npm">
		<param name="BILLING_KEY" value=""/>
	</plugin>
	<preference name="deployment-target" value="7.0" />
	<preference name="ErrorUrl" value="error.html"/>
	<edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application/activity">
		<activity android:name="MainActivity" android:windowSoftInputMode="adjustPan" />
	</edit-config>
	<gap:config-file platform="ios" parent="LSApplicationQueriesSchemes" overwrite="true">
	<array>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb-messenger-api20140430</string>
		</array>
	</gap:config-file> 
	<gap:config-file platform="ios" parent="NSCameraUsageDescription" overwrite="true">
	   <string>ZibApp uses camera to scan and retrive URL from QR codes.</string>
	</gap:config-file>
	<key>CFBundleLocalizations</key>
	<array>
	  <string>it</string>
	  <string>otherlanguagecode</string>
	</array>
-->
</widget>